body {
    font-family: cursive;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: #333;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    background-color: white;
}

#logo {
    width: 20%;
    font-size: 20px;
    color: #333;
}

#logo i {
    width: 40px;
    height: 30px;
}

#search {
    position: relative;
    width: 80%;
    border-radius: 20px;
}

#search .search-bar {
    width: 73%;
    height: 40px;
    border: none;
    background-color: rgba(161, 159, 159, 0.341);
    border-radius: 10px;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#search .i-search{
    position: absolute;
    border-radius: 5px;
    top: 0px;
    left: -50px;
    width: 50px;
    height: 42px;
    background-color: rgba(161, 159, 159, 0.341);
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#search .i-search i{
    position: absolute;
    top: 10px;
    left: 25px;
}

#colom {
    width: 100px;
    height: 50px;
    position: absolute;
    top: 20px;
    right: -20px
}

#colom img {
    color: #333;
    width: 50%;
    height: 80%;
}

#profile {
    display: block;
    text-align: center;

}

#title-bar {
    display: block;
    width: 100%;
    position: relative;
}

#title-bar .day {
    position: absolute;
    left: 300px;

}

#container-full {
    padding-top: 10px;
    display: flex;
    width: 100%;
    height: 150px;
    margin-top: 50px;
}

#container-full .empty {
    width: 20%;
    height: 100%;
}

#container-full .container {
    display: flex;
    width: 65%;
    height: 100%;
}

.container .image-src {
    width: 10%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.184);
    border-radius: 10px;
    position: relative;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}

.container .image-src img {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 0px;
    top: 20px;
}

.container .description {
    position: relative;
    cursor: pointer;
    padding-left: 20px;
    border: 1px solid rgba(0, 0, 0, 0.184);
    border-radius: 10px;
    width: 80%;
    height: 100%;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.container .description .colom-1 {
    position: absolute;
    right: 0px;
    bottom: 50px;
    width: 100px;
    height: 80px;
}
   /* Popup container */
   .popup {
    position: absolute;
    display: none;
    position: fixed;
    left: 90%;
    top: 90%;
    transform: translate(-90%, -90%);
    background-color: #f1f1f1;
    padding: 80px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1;
    }

    /* Overlay */
    .overlay {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 0;
    }

    /* Button style */
    .btn {
        position: absolute;
        display: flex;
        text-align: center;
        justify-content: center;
        text-decoration:none;
        right: 0;
        bottom: 0;
        font-family: cursive;
        font-size: 18px;
        align-items: center;
        width: 100px;
        height: 50px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }
    .btn1{
        position: absolute;
        right: 5px;
        top:0;
        
    }
    .btn1:hover i{
        color: red;
    }
    /* Button hover effect */
    .btn:hover {
        background-color: #0056b3;
    }

    /* Show popup when anchor link is targeted */
    #popup:target {
        display: block;
    }

    /* Show overlay when anchor link is targeted */
    #overlay:target {
        display: block;
    }
    #Submit{
        background-color: white;
        color: black;
        font-size: 20px;
        font-weight: 600px;
        font-family: cursive;
        border: none;
        padding: 7px;
        border-radius: 5px;
    }
    #Submit:hover{
        color: red;
        background-color: black
    }
    #upload{
        width: 100%;
        border: 1px solid pink;
        cursor: pointer;
    }
    #upload:hover{
        background-color: #3333335d;
    }
    #name{
        width: 100%;
        height: 30px;
    }